﻿@{
    ViewBag.Title = "Home Page";
}
<h3>Fire Department Status</h3>
<div>
    <p>Employees On Duty: <strong>@ViewBag.offDutyCountEmployees</strong></p>
    <p>Employees Off Duty: <strong>@ViewBag.offDutyCountEmployees</strong></p>
    <p>Vehicles On Duty: <strong>@ViewBag.onDutyCountVehicles</strong></p>
    <p>Vehicles Off Duty: <strong>@ViewBag.offDutyCountVehicles</strong></p>
</div>

